<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
    <title>Folding@home stats</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
    <div id="page-background"></div>
    <fieldset id="donor-box">
        <legend><h1>Folding@home stats</h1></legend>
        <div class="columns">
            <div class="column">
                <span id="donor-span">Folding as <strong style="font-size: 1.25em;"><a id="donor-link" href="#">???</a></strong><br></span>
            </div>
            <div class="column right">
                <span id="score-span" class="hidden">
                    <strong id="score" style="font-size: 1.25em;">???</strong> points earned<br>
                </span>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <span id="team-span">
                    Team
                    <strong><a id="team-link" href="#">???</a></strong>
                    <span id="eoc-span">| <strong><a id="team-link-eoc" href="#">EOC</a></strong></span>
                    <br>
                </span>
            </div>
            <div class="column right">
                <span id="rank-span" class="hidden">
                    Rank <strong id="rank">???</strong><br>
                </span>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <strong id="ppd">???</strong> points per day <a id="bonus-marker" title="Bonus active" onclick="window.alert(this.title);">&#9733;</a><br>
            </div>
            <div class="column right">
                <span id="work-units-completed-span" class="hidden">
                    <strong id="work-units-completed">???</strong> work units completed<br>
                </span>
            </div>
        </div>
        <span id="last-updated-span">
            Last updated at <time id="last-updated" datetime="#">???</time>
        </span>
    </fieldset>
    <div id="slot-info-container">
    </div>
</body>
</html>
