body {
    max-width: 800px;
    padding-top: 0.25em;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-family: Liberation Sans, Arial, sans-serif;
    color: black;
}
.hidden {
    display: none;
}
#page-background {
    z-index: -10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, lightsteelblue, steelblue);
}
a {
    color: #F96224;
}
a:not(:hover) {
    text-decoration: none;
}
a:hover {
    cursor: pointer;
    text-decoration: underline;
}
.error {
    font-weight: bold;
    color: red;
}
fieldset {
    margin-top: 1em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    border: 1px solid gray;
    background: linear-gradient(to bottom, white, gainsboro);
}
fieldset > legend {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    border: 1px solid dimgray;
    padding: 2px 0.5em;
    background: linear-gradient(to bottom, gainsboro, silver);
}
fieldset h1,
fieldset h2 {
    margin: 0;
}
fieldset h3 {
    margin-top: 0.25em;
    margin-bottom: 0.5em;
}
fieldset .project-description {
    max-width: 100%;
    margin-top: -0.5em;
    margin-bottom: 0.5em;
    overflow-wrap: break-word;
}
#last-updated-span {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 0.75em;
    color: steelblue;
}
.progress {
    border-radius: 4px;
    border: 1px solid dimgray;
    padding: 2px;
    background:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent 4px),
        linear-gradient(to bottom, silver 4px, gainsboro),
        linear-gradient(to bottom, silver 4px, gainsboro),
        repeating-linear-gradient(90deg, transparent, transparent calc(5% - 2px),
                                       gray calc(5% - 2px), gray calc(5% - 1px),
                                       gainsboro calc(5% - 1px), gainsboro 5%),
        linear-gradient(to bottom, silver 4px, gainsboro);
    background-repeat: no-repeat;
    background-size:
        auto,
        10px,
        10px,
        calc(100% - 4px),
        auto;
    background-position-x:
        0,
        0,
        100%,
        4px,
        0;
}
.bar {
    transition: width 2s;
    animation-duration: 1s;
    animation-name: progress-bar-update;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 2px 0;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border: 1px solid goldenrod;
    background: linear-gradient(to bottom, moccasin, gold calc(50% - 0.1px), goldenrod 50%, gold);
    font-weight: bold;
}
.bar.running {
    border: 1px solid forestgreen;
    background: linear-gradient(to bottom, lightgreen, limegreen calc(50% - 0.1px), forestgreen 50%, limegreen);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    color: white;
}
.bar.noborder {
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
}
.additional-slot-info, .columns {
    display: flex;
}
@media screen and (max-width: 39em) {
    .additional-slot-info, .columns, .rcg, .core {
        display: block;
    }
    .rcg, .core {
        font-size: 16px;
    }
    .simulation-info {
        padding-bottom: 0.25em;
    }
    .hardware-info {
        border-top: 1px solid gray;
        padding-top: 0.25em;
    }
}
.additional-slot-info > div span {
    display: inline-block;
}
.simulation-info, .column, .hardware-info {
    flex-grow: 1;
}
@media screen and (min-width: 39em) {
    .hardware-info, .right {
        text-align: right;
    }
}
@keyframes progress-bar-update {
    from {
        filter: brightness(150%);
    }
    to {
        filter: brightness(100%);
    }
}